# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\University OneDrive (Local)\OneDrive - James Cook University\2021\SP1\CP1404\cp1404practicals\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
